<!DOCTYPE html>
<head>
  <title>Link Labs Sensor Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-material-design.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ripple.min.css') }}">-->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/meterial.js') }}"></script>-->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/ripple.min.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
   <style>
       body{
           font-family: 'Didact Gothic', sans-serif;
       }
   </style>



</head>

<body ng-app="app" ng-controller="appCtrl as app"
      ng-init="app.get_sensor_data()"  >
    <div id="#wrapper">
        <div id="content">
            <div id="content-container" style="height:100%;">
              {% block body %}
              {% endblock %}
            </div>

      </div> <!-- #content -->
    </div> <!-- #wrapper -->

<script>
{% block scripts %}

//$.material.init();
{% endblock %}
</script>

</body>