{% extends 'layout.html' %}

{% block body %}
<img class="img-fluid" alt="Responsive image" src="{{url_for('static', filename='img/logo.png')}}">

<div class="panel panel-primary main_card">
  <div class="panel-heading action_bar">
    <div class="col-xs-9 title">Sensor Data</div>
    <div class="col-xs-3 btns">
      <button
        class="btn btn-success btn-md pull-right refresh_btn"
        ng-click="app.get_sensor_data()"
      >
        <span class="fa fa-refresh"></span>
        <span class="hidden-xs">Refresh Data</span>
      </button>
    </div>
  </div>
  <div class="panel-body">
      <!-- loading spinner -->
      <div class="loading" ng-if="app.loading_sensor_data">
          <div class="col-sm-12"><i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i></div>
          <span>fetching data...</span>
      </div>

      <!-- error message -->
      <div class="error" ng-if="app.loading_sensor_error">
        <div class="col-sm-12"><i class="fa fa-meh-o fa-5x" aria-hidden="true"></i></div>
        <span>something went wrong...</span>
      </div>

      <div ng-if="!app.loading_sensor_data && !app.loading_sensor_error">
        <div class="card col-xs-12"
              ng-repeat="sensors in app.sensor_data">

          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title module">Module: {[ sensors[0] ]}</h3>
              </div>
              <div class="panel-body module_panel">
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                        <tr>
                          <th class="row_key">Payload</th>
                          <th ng-repeat="key in app.ordered_key"
                              class="row_key capitalize">
                              {[ app.format_label(key) ]}
                          </th>
                          <th class="row_key">Meta</th>
                        </tr>
                      </thead>
                      <tr ng-repeat="sensor in sensors[1]">
                        <td class="row_val">{[ sensor['pld_string'] ]}</td>
                        <td  ng-repeat="key in app.ordered_key"
                              ng-if="sensor['sensor_data'][key] != undefined"
                            class="row_val">
                            {[ app.format_value(key, sensor['sensor_data'][key]) ]}
                        </td>
                        <td class="row_val"><button class="btn btn-primary btn-xs" ng-click="app.meta_modal(sensor)">View Meta</button></td>
                      </tr>
                    </table>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
